Config { font = "xft:Iosevka Nerd Font:style=Regular"
       , additionalFonts = ["xft:FiraCode Nerd Font Mono:style=Medium"]
       , bgColor = "#121212"
       , fgColor = "#A27592"
       , alpha = 255
       , position = Static { xpos = 3430,  ypos = 2, width = 280, height=35 }
       , textOffset = -1
       , iconOffset = 60
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Com "/home/thongpv87/.xmonad/bin/show-network-status.sh" ["#28A6DB", "#FF6188"] "net" 20
                     , Run Com "/home/thongpv87/.xmonad/bin/show-battery-status.sh" ["#78DCE8", "#FF6188", "#A9DC76" ] "bat" 600
                     , Run Com "/home/thongpv87/.xmonad/bin/show-input-method.sh" ["#78DCE8", "#D73A49", "#A9DC76" ] "inp" 20
                     , Run Com "/home/thongpv87/.xmonad/bin/show-volume.sh" ["#AB9DF2"] "vol" 100
                     , Run StdinReader
                     ]
       , sepChar = "^"
       , alignSep = "}{"
       , template = "<fc=#AAAAAA> ^StdinReader^ </fc>}{<action='/home/thongpv87/.xmonad/bin/toggle-input-method.sh'><fn=1>^inp^ </fn></action><action='/home/thongpv87/.xmonad/bin/notify-network-status.sh'>^net^ </action> <action=`pactl set-sink-mute 0 toggle`>^vol^ </action>^bat^ "
       }
